<div class="container">
<h1>Subreddits</h1>
    <% @subreddits.each do |subreddit| %>
    <%= link_to subreddit.name, controller: "subreddits", action: "show", id: subreddit   %>
    <div class="row">
        <div class="postBody col-sm-9">
            <%= subreddit.description %>
        </div>
    </div>
    <hr>
    <% end %>
    <%= link_to "New Subreddit", new_subreddit_path %>
</div>
